#wrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 75px;
    padding: 0 20px;
    z-index: 1002;

    #logo {
        img {
            width: 105px;
            height: auto;
        }
    }
    #gnb {
        @include flexitems;
        gap: 20px;
        justify-content: flex-end;

        .app-dawnload {
            display: block;
            width: 86px;
            height: 30px;
            border-radius: 25px;
            background-color: $primary;
            font-size: 0.75rem;
            font-weight: 700;
            color: $white;
        }
        @media screen and (min-width: $breakpoint-md) {
            .app-dawnload {
                width: 96px;
            }
        }
        @media screen and (min-width: $breakpoint-lg) {
            .app-dawnload {
                width: 100px;
            }
        }
        p {
            a {
                position: relative;
                display: flex;
                align-items: center;
                gap: 20px;
                .sr-only {
                    position: absolute;
                    top: 0;
                    left: 0;
                    text-indent: -9999px;
                    font-size: 0;
                    line-height: 0;
                }
                &::before {
                    content: '\f0c9';
                    font-family: 'Line Awesome Free';
                    font-weight: 900;
                    font-size: 30px;
                    // margin-left: 8px;
                }
            }
        }
    }
    .search-area {
        display: none;
        width: 0;
        height: 0;
        overflow: hidden;
    }
    .layer-search {
        display: none;
    }
}
@media screen and (min-width: $breakpoint-lg) {
    #header {
        padding: 0 45px;
    }
}

#section01 {
    position: relative;
    height: 953px;
    background-color: $secondary;
    #fix-carrier img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-56%, -50%);
        width: 201px;
        height: auto;
        z-index: 5;
    }
    @media screen and (min-width: $breakpoint-md) {
        #fix-carrier img {
            width: 302px;
            top: 55%;
        }
    }
    @media screen and (min-width: $breakpoint-lg) {
        #fix-carrier img {
            width: 418px;
            top: 60%;
        }
    }

    .text {
        position: absolute;
        top: 17%;
        left: 10px;
        width: calc(100% - 20px);
        margin-bottom: 80px;
        dt {
            font-family: 'DM Sans', sans-serif;
            font-size: 1.0625rem;
            font-weight: 1000;
            text-align: center;
            color: $primary;
        }
        @media screen and (min-width: $breakpoint-lg) {
            dt {
                font-size: 1.875rem;
            }
        }
        dd {
            font-size: 0.75rem;
            font-weight: 500;
            text-align: center;
        }
        @media screen and (min-width: $breakpoint-lg) {
            dd {
                font-size: 1.125rem;
            }
        }
    }
    .main-text {
        position: absolute;
        top: 50%;
        left: 10px;
        width: calc(100% - 20px);
        margin-top: -50px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        img:first-child {
            position: relative;
            margin-bottom: 15px;
            width: auto;
            height: 55px;
            z-index: 0;
        }
        @media screen and (min-width: $breakpoint-md) {
            img:first-child {
                margin-bottom: 30px;
            }
        }
        @media screen and (min-width: $breakpoint-lg) {
            img:first-child {
                margin-bottom: 39px;
            }
        }
        img:last-child {
            position: relative;
            width: auto;
            height: 55px;
            z-index: 100;
        }
    }
    @media screen and (min-width: $breakpoint-md) {
        .main-text img:last-child,
        .main-text img:first-child {
            height: 100px;
        }
    }
    @media screen and (min-width: $breakpoint-lg) {
        .main-text img:last-child,
        .main-text img:first-child {
            height: 139px;
        }
    }
    .container-arrow {
        position: absolute;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
        &::before {
            content: '\f0ab';
            font-family: 'Line Awesome Free';
            font-weight: 900;
            display: inline-block;
            width: 40px;
            height: 40px;
            font-size: 40px;
            line-height: 40px;
            color: $gray-600;
        }
    }
}
#section02 {
    position: relative;
    height: 953px;
    background-color: $primary;
    .text {
        position: absolute;
        top: 17%;
        left: 10px;
        width: calc(100% - 20px);
        margin-bottom: 80px;
        dt {
            font-family: 'DM Sans', sans-serif;
            font-size: 1.0625rem;
            font-weight: 1000;
            text-align: center;
            color: $white;
        }
        @media screen and (min-width: $breakpoint-lg) {
            dt {
                font-size: 1.875rem;
            }
        }
        dd {
            font-size: 0.75rem;
            font-weight: 500;
            text-align: center;
            color: $white;
        }
        @media screen and (min-width: $breakpoint-lg) {
            dd {
                font-size: 1.125rem;
            }
        }
    }

    .main-text {
        position: absolute;
        top: 50%;
        left: 10px;
        width: calc(100% - 20px);
        margin-top: -50px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        img:first-child {
            position: relative;
            margin-bottom: 15px;
            width: auto;
            height: 55px;
            z-index: 0;
        }
        @media screen and (min-width: $breakpoint-md) {
            img:first-child {
                margin-bottom: 30px;
            }
        }
        @media screen and (min-width: $breakpoint-lg) {
            img:first-child {
                margin-bottom: 39px;
            }
        }
        img:last-child {
            position: relative;
            width: auto;
            height: 55px;
            z-index: 100;
        }
    }
    @media screen and (min-width: $breakpoint-md) {
        .main-text img:last-child,
        .main-text img:first-child {
            height: 100px;
        }
    }
    @media screen and (min-width: $breakpoint-lg) {
        .main-text img:last-child,
        .main-text img:first-child {
            height: 139px;
            padding: 0 45px;
        }
    }
    .baro-btn {
        position: absolute;
        bottom: 50px;
        left: 0;
        width: 100%;
        text-align: center;
        z-index: 1000;
        display: flex;
        justify-content: center;
        a {
            font-family: 'DM Sans', sans-serif;
            background-color: $primary;
            border: 3px solid $white;
            border-radius: 25px;
            color: $white;
            width: 130px;
            height: 42px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 0.875rem;
            text-align: center;
            font-weight: 700;
        }
        @media screen and (min-width: $breakpoint-lg) {
            a {
                width: 167px;
                height: 54px;
                border-radius: 30px;
                font-size: 1.0625rem;
            }
        }
    }
}
#section03 {
    position: relative;
    height: 953px;
    background-color: $txtDefult;
    .text {
        position: absolute;
        top: 17%;
        left: 10px;
        width: calc(100% - 20px);
        margin-bottom: 80px;
        dt {
            font-family: 'DM Sans', sans-serif;
            font-size: 1.0625rem;
            font-weight: 1000;
            text-align: center;
            color: $white;
        }
        @media screen and (min-width: $breakpoint-lg) {
            dt {
                font-size: 1.875rem;
            }
        }
        dd {
            font-size: 0.75rem;
            font-weight: 500;
            text-align: center;
            color: $white;
        }
        @media screen and (min-width: $breakpoint-lg) {
            dd {
                font-size: 1.125rem;
            }
        }
    }
    .main-text {
        position: absolute;
        top: 50%;
        left: 10px;
        width: calc(100% - 20px);
        margin-top: -50px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        img:first-child {
            position: relative;
            margin-bottom: 15px;
            width: auto;
            height: 55px;
            z-index: 0;
        }
        @media screen and (min-width: $breakpoint-md) {
            img:first-child {
                margin-bottom: 30px;
            }
        }
        @media screen and (min-width: $breakpoint-lg) {
            img:first-child {
                margin-bottom: 39px;
            }
        }
        img:last-child {
            position: relative;
            width: auto;
            height: 55px;
            z-index: 100;
        }
    }
    @media screen and (min-width: $breakpoint-md) {
        .main-text img:last-child,
        .main-text img:first-child {
            height: 100px;
        }
    }
    @media screen and (min-width: $breakpoint-lg) {
        .main-text img:last-child,
        .main-text img:first-child {
            height: 139px;
        }
    }
    .baro-btn {
        position: absolute;
        bottom: 50px;
        left: 0;
        width: 100%;
        text-align: center;
        z-index: 1000;
        display: flex;
        justify-content: center;
        a {
            font-family: 'DM Sans', sans-serif;
            background-color: $txtDefult;
            border: 3px solid $white;
            border-radius: 25px;
            color: $white;
            width: 130px;
            height: 42px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 0.875rem;
            text-align: center;
            font-weight: 700;
        }
        @media screen and (min-width: $breakpoint-lg) {
            a {
                width: 167px;
                height: 54px;
                border-radius: 30px;
                font-size: 1.0625rem;
            }
        }
    }
}
#footer {
    position: relative;
    background-color: $txtDefult;
    padding: 30px 20px;
    color: $white;
    font-size: 0.75rem;
    letter-spacing: -1.5%;
    font-weight: 900;
    .util {
        display: flex;
        gap: 25px;
        margin-bottom: 42px;
        a {
            color: $white;
        }
    }
    @media screen and (min-width: $breakpoint-lg) {
        .util {
            font-size: 1.0625rem;
        }
    }
    address {
        color: $gray-500;
    }
    .footer-copy {
        margin-top: 10px;
        color: $gray-500;
    }
    @media screen and (min-width: $breakpoint-lg) {
        .footer-copy {
            font-size: 1rem;
        }
    }
    .sns-link {
        position: absolute;
        top: 27px;
        right: 20px;
        display: flex;
        gap: 8px;
    }
    @media screen and (min-width: $breakpoint-lg) {
        .sns-link {
            top: 62px;
            right: 45px;
            gap: 15px;
        }
        a img {
            width: 42px;
        }
    }
    .footer-logo {
        margin-top: 43px;
        text-align: center;
    }
    @media screen and (min-width: $breakpoint-lg) {
        .footer-logo a img {
            width: 170px;
        }
    }
}
@media screen and (min-width: $breakpoint-lg) {
    #footer {
        padding: 68px 45px 35px;
    }
}
