body {
    overflow-x: hidden;
}

.section04 {
    position: relative;
    background-image: url(https://framerusercontent.com/images/w8SWwtp8lqm9fA8RQCcOAs8wTBY.jpg?scale-down-to=1024);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 953px;
    padding: 90px 0 50px;
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        background-image: linear-gradient(to bottom, rgba($txtDefult, 1), rgba(0, 0, 0, 0) 23%);
    }
    .page-mid-title {
        position: absolute;
        top: 250px;
        left: 0;
        width: 100%;
        text-align: center;
        color: $white;
        font-size: 1.5625rem;
        font-weight: 500;
        z-index: 10;
    }
    .number-list {
        position: relative;
        display: flex;
        gap: 15px;
        justify-content: center;
        z-index: 10;
        flex-direction: column;
        padding: 0 65px;
        margin-top: 350px;
        li {
            text-align: center;
            p {
                font-family: 'Manrope', sans-serif;
                text-align: left;
                font-size: 2.875rem;
                font-weight: 700;
                line-height: 1.4;
                color: $primary;
            }
            > span {
                display: block;
                text-align: left;
                font-size: 0.875rem;
                font-weight: 700;
                line-height: 1.4;
                color: $white;
            }
        }
    }
}

@media screen and (min-width: $breakpoint-md) {
    .number-list {
        padding: 0 82px;
    }
}
@media screen and (min-width: $breakpoint-lg) {
    #section04 {
        .page-mid-title {
            .page-mid-title {
                font-size: 2.5rem;
            }
        }
        .number-list {
            flex-direction: row;
            justify-content: space-between;
            li {
                p {
                    font-size: 4.375rem;
                    text-align: center;
                }
                > span {
                    font-size: 1rem;
                    text-align: center;
                }
            }
        }
    }
}
@media screen and (min-width: $breakpoint-xl) {
    #section04 {
        .number-list {
            padding: 0 160px;
            max-width: 1440px;
            margin: 350px auto 0;
        }
    }
}

#section05 {
    h2 {
        margin: 100px 20px;
        ul {
            margin-bottom: 22px;
            li {
                line-height: 34px;
                font-size: 1.75rem;
                font-weight: 900;
                strong {
                    color: $primary;
                }
            }
            > p {
                display: none;
                font-size: 1rem;
                font-weight: 400;
                color: $gray-600;
                padding-top: 20px;
            }
        }
        .dawnload-box {
            display: flex;
            justify-content: space-between;
        }
        .apple-appstore,
        .google-play {
            width: 140px;
            height: 45px;
            border-radius: 30px;
            background-color: $txtDefult;
            img {
                width: auto;
                height: 17px;
            }
        }
        .apple-appstore {
            margin-right: 20px;
            img:first-child {
                width: 20px;
                height: auto;
            }
        }
        .google-play {
            img:first-child {
                width: 20px;
                height: auto;
            }
        }
    }
    .container {
        width: 100%;
        .framer {
            height: 690px;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            .sub-logo {
                display: block;
                width: 110px;
                height: auto;
                position: absolute;
                top: 30%;
                left: 50%;
                transform: translate(-42%);
            }

            .css-zgg {
                width: 100%;
                .css-nupjy1 {
                    position: absolute;
                    display: flex;
                    overflow: hidden;
                    gap: 9px;
                    top: 350px;
                    left: 50%;
                    transform: translate(-49%);

                    .css-rlmnh1 {
                        width: 100px;
                        height: 100px;
                    }
                }

                .col-zi {
                    display: block;
                    width: 100%;
                    height: 100%;
                    .phone-flame {
                        position: absolute;
                        left: 50%;
                        top: 0;
                        transform: translate(-53%);
                        width: 290px;
                        height: auto;
                    }
                }
            }
        }
    }
    .main-port {
        h2 {
            margin: 0 20px 50px 20px;
        }
        .swiper-wrapper {
            display: flex;
            gap: 20px;
            padding: 20px 20px 110px;
            flex-direction: column;

            .framer {
                display: flex;
                gap: 20px;
                flex-direction: column;
            }
        }
        .swiper-slide {
            width: 100%;
            height: 120px;
            border-radius: 10px;
            overflow: hidden;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.3);
                z-index: 1;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center bottom;
                position: relative;
                z-index: 0;
                &.img01 {
                    object-position: 0 100%;
                }
                &.img02 {
                    object-position: 0 100%;
                }
                &.img03 {
                    object-position: 0 100%;
                }
                &.img04 {
                    object-position: 0 100%;
                }
                &.img05 {
                    object-position: 0 100%;
                }
                &.img06 {
                    object-position: 0 100%;
                }
            }

            .tit-view {
                position: absolute;
                top: 20px;
                left: 20px;
                color: $white;
                z-index: 2;
                display: block;

                strong {
                    display: flex;
                    font-size: 20px;
                    font-weight: 700;
                    gap: 5px;
                    &::after {
                        content: '\f0a9';
                        font-family: 'Line Awesome Free';
                        font-weight: 700;
                        font-size: 25px;
                        line-height: 25px;
                    }
                }
                p {
                    font-size: 0.8125rem;
                    font-weight: 400;
                }
            }
        }
    }
}
@media screen and (min-width: $breakpoint-md) {
    #section05 {
        position: relative;
        z-index: 1200;
        h2 {
            margin: 150px 20px;
            ul {
                li {
                    line-height: 50px;
                    font-size: 2.5rem;
                }
                > p {
                    display: block;
                    font-size: 1.0625rem;
                }
            }
            .apple-appstore,
            .google-play {
                width: 166px;
                height: 53px;
                img {
                    height: 19px;
                }
            }
        }
        .container {
            .framer {
                .sub-logo {
                    width: 150px;
                    top: 36%;
                }
                .css-zgg {
                    .css-nupjy1 {
                        top: 430px;
                        .css-rlmnh1 {
                            width: 127px;
                            height: 127px;
                        }
                    }
                    .col-zi {
                        .phone-flame {
                            width: 367px;
                        }
                    }
                }
            }
        }
        .main-port {
            h2 {
                margin: 300px 20px 50px 20px;
            }
            .swiper-wrapper {
                .framer {
                    .swiper-slide {
                        height: 250px;
                        .tit-view {
                            top: 40px;
                            left: 40px;
                            span {
                                color: $white;
                                strong {
                                    font-size: 25px;
                                    &::after {
                                        font-size: 30px;
                                        line-height: 30px;
                                    }
                                }
                                p {
                                    font-size: 0.9375rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (min-width: $breakpoint-lg) {
    #section05 {
        h2 {
            margin: 150px 45px;
            ul {
                li {
                    line-height: 60px;
                    font-size: 3.125rem;
                }
                > p {
                    display: block;
                    font-size: 1.0625rem;
                }
            }
        }
        .container {
            .framer {
                height: 800px;
                .css-zgg {
                    .css-nupjy1 {
                        top: 500px;
                        .css-rlmnh1 {
                            width: 178px;
                            height: 178px;
                        }
                    }
                    .col-zi {
                        .phone-flame {
                            width: 461px;
                        }
                    }
                }
            }
        }
        .main-port {
            .swiper-wrapper {
                .framer {
                    flex-direction: row;
                }
            }
        }
    }
}
@media screen and (min-width: $breakpoint-xl) {
    #section05 {
        h2 {
            text-align: center;
            ul {
                li {
                    br {
                        display: none;
                    }
                    line-height: 60px;
                    font-size: 3.125rem;
                }
                > p {
                    display: block;
                    font-size: 1.25rem;
                }
            }
            .apple-appstore {
                margin-right: 40px;
            }
        }
        .main-port {
            .swiper-wrapper {
                flex-direction: row;
                padding: 170px 0 350px;
                justify-content: center;
                .framer {
                    .swiper-slide {
                        position: relative;
                        width: 224px;
                        height: 322px;
                        transition: transform 0.8s ease-in-out;
                        &::before {
                            opacity: 0;
                        }
                        img {
                            transition: transform 0.3s ease;
                        }
                        &:hover {
                            .tit-view {
                                opacity: 1;
                            }
                            &::before {
                                opacity: 1;
                            }
                            img {
                                transform: scale(1.1);
                            }
                        }
                        .img01 {
                            object-position: 46% 0;
                        }
                        .img02 {
                            object-position: 82% 0;
                        }
                        .img03 {
                            object-position: 10% 0;
                        }
                        .img04 {
                            object-position: 70% 0;
                        }
                        .img05 {
                            object-position: 73% 0;
                        }
                        .img06 {
                            object-position: 20% 0;
                        }
                        .tit-view {
                            left: 13px;
                            opacity: 0;
                            transition: opacity 0.5s ease-in-out;
                            span {
                                strong {
                                    font-size: 1.5rem;
                                    &::after {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .swiper-slide.move-up {
                transform: translateY(-100px);
            }
            .swiper-slide.move-down {
                transform: translateY(100px);
            }
        }
    }
}
