@charset "UTF-8";
/* reset */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
button,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

fieldset,
img {
  border: 0 none;
}

dl,
ul,
ol,
menu,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

input,
select,
textarea {
  font-size: 100%;
  vertical-align: middle;
}

button {
  font-size: 100%;
  vertical-align: middle;
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none;
}

/* 뷰표트 변환시 폰트크기 자동확대 방지 */
input[type=text], input[type=password], input[type=submit], input[type=search] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
}
input:checked[type=checkbox] {
  background-color: #666;
  -webkit-appearance: checkbox;
     -moz-appearance: checkbox;
          appearance: checkbox;
}

button {
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  border-radius: 0;
}

input[type=button], input[type=submit], input[type=reset], input[type=file] {
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  border-radius: 0;
}
input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
          appearance: none;
}

/* 기본 폰트 설정 */
/* mobile */
body {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Urbanist", "Malgun Gothic", "맑은 고딕", sans-serif;
  color: rgb(51, 51, 51);
}

/* desktop */
/* color값은 디자인가이드에 맞게사용 */
a {
  color: #333;
  text-decoration: none;
}
a:active, a:hover {
  text-decoration: underline;
}

address,
caption,
cite,
code,
dfn,
em,
var {
  font-style: normal;
  font-weight: normal;
}

hr {
  display: none;
}

input[type=password] {
  font-family: "Malgun Gothic";
}

/* 웹폰트 사용시 점이 안보임 - 기본 폰트 사용  */
/* skipnavigation */
#u-skip {
  position: relative;
  z-index: 3000;
}
#u-skip a {
  position: absolute;
  top: -35px;
  left: 0;
  right: 0;
  display: inline-block;
  padding: 7px 10px 5px;
  background: #333;
  color: #fff;
  text-decoration: none;
  text-align: center;
  opacity: 0;
}
#u-skip a:focus {
  top: 0;
  opacity: 1;
  z-index: 1000;
}

/* 이미지 스프라이트 */
.img-g {
  display: inline-block;
  overflow: hidden;
  background: url(../../images/comm/img-comm.png) no-repeat;
  vertical-align: top;
}

/* 이미지 */
/* global */
.ir-pm {
  display: block;
  overflow: hidden;
  font-size: 0px;
  line-height: 0;
  text-indent: -9999px;
}

/* 사용된 이미지내 의미있는 텍스트의 대체텍스트를 제공할때 */
.ir-wa {
  display: block;
  overflow: hidden;
  position: relative;
  z-index: -10;
  width: 100%;
  height: 100%;
}

/* 중요한 이미지 대체텍스트로 이미지off시에도 대체 텍스트를 보여주고자 할때 */
.blind,
caption,
legend {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

/* 대체텍스트가 아닌 접근성을 위한 숨김텍스트를 제공할때 */
.f_l {
  float: left;
}

.f_r {
  float: right;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.tbl {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 테이블 초기화 */
.clearfix {
  display: block;
  overflow: visible;
  width: auto;
  clear: both;
  zoom: 1;
}
.clearfix:after {
  display: block;
  visibility: hidden;
  height: 0;
  font-size: 0;
  clear: both;
  content: "";
}

#wrap {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
#wrap #header .navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 75px;
  padding: 0 20px;
  z-index: 1002;
}
#wrap #header .navbar #logo img {
  width: 105px;
  height: auto;
}
#wrap #header .navbar #gnb {
  display: flex;
  align-items: center;
  display: none;
  gap: 20px;
  justify-content: flex-end;
}
#wrap #header .navbar #gnb .menu-wrap {
  display: none;
}
#wrap #header .navbar #gnb .menu-wrap .top-menu ul .framer-5::after {
  content: "\f062";
  font-family: "Line Awesome Free";
  font-weight: 900;
  display: inline-block;
  transform: rotate(45deg);
}
#wrap #header .navbar #gnb .menu-wrap .top-menu ul .framer-6::after {
  content: "\f062";
  font-family: "Line Awesome Free";
  font-weight: 900;
  display: inline-block;
  transform: rotate(45deg);
}
#wrap #header .navbar .m-utill {
  display: none;
}
#wrap #header .navbar .m-utill a {
  display: none;
}
#wrap #header .search-area {
  display: none;
  width: 0;
  height: 0;
  overflow: hidden;
}
#wrap #header .layer-search {
  display: none;
}
#wrap #header .gnb-m {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}
#wrap #header .gnb-m .app-dawnload {
  display: block;
  width: 86px;
  height: 30px;
  border-radius: 25px;
  background-color: rgb(248, 80, 91);
}
#wrap #header .gnb-m .app-dawnload a {
  font-size: 0.75rem;
  font-weight: 700;
  color: #fff;
}
#wrap #header .gnb-m p a {
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px;
}
#wrap #header .gnb-m p a .sr-only {
  position: absolute;
  top: 0;
  left: 0;
  text-indent: -9999px;
  font-size: 0;
  line-height: 0;
}
#wrap #header .gnb-m p a::before {
  content: "\f0c9";
  font-family: "Line Awesome Free";
  font-weight: 900;
  font-size: 30px;
}
@media screen and (min-width: 744px) {
  #wrap #header .navbar #logo img {
    width: 123px;
  }
  #wrap #header .navbar .gnb-m .app-dawnload {
    width: 96px;
  }
}
@media screen and (min-width: 1024px) {
  #wrap #header .navbar {
    padding: 0 45px;
  }
  #wrap .gnb-m {
    display: none;
  }
  #wrap .gnb-m .app-dawnload {
    width: 100px;
  }
}
@media screen and (min-width: 1440px) {
  #wrap #header .navbar {
    max-width: 1440px;
    margin: 0 auto;
  }
  #wrap #header .navbar #logo img {
    width: 140px;
  }
  #wrap #header .navbar .gnb-m .app-dawnload {
    display: none;
  }
  #wrap #header .navbar .gnb-m p a {
    display: none;
  }
  #wrap #header .navbar #gnb {
    display: flex;
  }
  #wrap #header .navbar #gnb .menu-wrap {
    display: flex;
    grid-gap: 227px;
    align-items: center;
    text-align: center;
  }
  #wrap #header .navbar #gnb .menu-wrap ul {
    display: flex;
    font-size: 1.125rem;
    font-weight: 900;
    gap: 72px;
  }
  #wrap #header .navbar .m-utill {
    display: flex;
  }
  #wrap #header .navbar .m-utill .active {
    display: block;
    width: 38px;
    height: 38px;
    position: relative;
    font-size: 0.875rem;
    font-weight: 900;
    text-align: center;
    line-height: 38px;
  }
  #wrap #header .navbar .m-utill .active::after {
    content: "";
    display: block;
    width: 38px;
    height: 38px;
    border: 1px solid rgb(51, 51, 51);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -53%);
  }
}
#wrap #section01 {
  position: relative;
  height: 953px;
  background-color: rgb(243, 243, 243);
}
#wrap #section01 #fix-carrier {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  z-index: 1000;
  opacity: 1;
  transition: opacity 0.7s ease-out;
}
#wrap #section01 #fix-carrier.fadeOut {
  opacity: 0;
  transition: opacity 0.7s ease-out;
}
#wrap #section01 #fix-carrier img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-56%, 140%);
  width: 201px;
  height: auto;
  z-index: 5;
}
#wrap #section01 .text {
  position: absolute;
  top: 17%;
  left: 10px;
  width: calc(100% - 20px);
  margin-bottom: 80px;
}
#wrap #section01 .text dt {
  font-family: "DM Sans", sans-serif;
  font-size: 1.0625rem;
  font-weight: 1000;
  text-align: center;
  color: rgb(248, 80, 91);
}
#wrap #section01 .text dd {
  font-size: 0.75rem;
  font-weight: 500;
  text-align: center;
}
#wrap #section01 .main-text {
  position: absolute;
  top: 50%;
  left: 10px;
  width: calc(100% - 20px);
  margin-top: -50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#wrap #section01 .main-text img:first-child {
  position: relative;
  margin: 0 20px 25px;
  max-width: 100%;
  z-index: 0;
}
#wrap #section01 .main-text img:last-child {
  position: relative;
  margin: 0 20px;
  max-width: 100%;
  z-index: 1001;
}
#wrap #section01 .bottom-arrow {
  position: absolute;
  bottom: 30px;
  left: 0;
  width: 100%;
  text-align: center;
}
#wrap #section01 .bottom-arrow .container-arrow {
  position: relative;
  font-size: 50px;
  color: #9e9e9e;
  animation: updown 3s infinite ease-out;
}
@keyframes updown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-40px);
  }
}
#wrap #section01 .bottom-arrow .container-arrow::before {
  content: "\f0ab";
  font-family: "Line Awesome Free";
  font-weight: 900;
  display: inline-block;
  width: 100%;
  height: 100%;
  line-height: 50px;
  color: #9e9e9e;
}
@media screen and (min-width: 744px) {
  #wrap #section01 #fix-carrier img {
    width: 302px;
    top: 55%;
    transform: translate(-58%, 80%);
  }
  #wrap #section01 .main-text img:first-child {
    margin: 0 20px 35px;
  }
}
@media screen and (min-width: 1024px) {
  #wrap #section01 #fix-carrier img {
    width: 418px;
    top: 60%;
    transform: translate(-56%, 50%);
  }
  #wrap #section01 .text dt {
    font-size: 1.875rem;
  }
  #wrap #section01 .text dd {
    font-size: 1.125rem;
  }
  #wrap #section01 .main-text img:first-child {
    margin: 0 45px 35px;
  }
}
@media screen and (min-width: 1440px) {
  #wrap #section01 #fix-carrier img {
    transform: translate(-56%, 60%);
  }
  #wrap #section01 .main-text img:first-child {
    margin: 0 45px 39px;
  }
}
#wrap #section02 {
  position: relative;
  height: 953px;
  background-color: rgb(248, 80, 91);
}
#wrap #section02 .text {
  position: absolute;
  top: 17%;
  left: 10px;
  width: calc(100% - 20px);
  margin-bottom: 80px;
}
#wrap #section02 .text dt {
  font-family: "DM Sans", sans-serif;
  font-size: 1.0625rem;
  font-weight: 1000;
  text-align: center;
  color: #fff;
}
#wrap #section02 .text dd {
  font-size: 0.75rem;
  font-weight: 500;
  text-align: center;
  color: #fff;
}
#wrap #section02 .main-text {
  position: absolute;
  top: 50%;
  left: 10px;
  width: calc(100% - 20px);
  margin-top: -50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#wrap #section02 .main-text img:first-child {
  position: relative;
  margin: 0 20px 25px;
  max-width: 100%;
  z-index: 0;
}
#wrap #section02 .main-text img:last-child {
  position: relative;
  margin: 0 20px;
  max-width: 100%;
  z-index: 1001;
}
#wrap #section02 .baro-btn {
  position: absolute;
  bottom: 50px;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 1000;
  display: flex;
  justify-content: center;
}
#wrap #section02 .baro-btn a {
  font-family: "DM Sans", sans-serif;
  background-color: rgb(248, 80, 91);
  border: 3px solid #fff;
  border-radius: 25px;
  color: #fff;
  width: 130px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.875rem;
  text-align: center;
  font-weight: 700;
}
@media screen and (min-width: 744px) {
  #wrap #section02 .main-text img:first-child {
    margin: 0 20px 35px;
  }
}
@media screen and (min-width: 1024px) {
  #wrap #section02 .text dt {
    font-size: 1.875rem;
  }
  #wrap #section02 .text dd {
    font-size: 1.125rem;
  }
  #wrap #section02 .main-text img:first-child {
    margin: 0 45px 39px;
  }
  #wrap #section02 .baro-btn a {
    width: 167px;
    height: 54px;
    border-radius: 30px;
    font-size: 1.0625rem;
  }
}
@media screen and (min-width: 1440px) {
  #wrap #section02 .main-text img:first-child {
    margin: 0 45px 39px;
  }
}
#wrap #section03 {
  position: relative;
  height: 953px;
  background-color: rgb(51, 51, 51);
}
#wrap #section03 .text {
  position: absolute;
  top: 17%;
  left: 10px;
  width: calc(100% - 20px);
  margin-bottom: 80px;
}
#wrap #section03 .text dt {
  font-family: "DM Sans", sans-serif;
  font-size: 1.0625rem;
  font-weight: 1000;
  text-align: center;
  color: #fff;
}
#wrap #section03 .text dd {
  font-size: 0.75rem;
  font-weight: 500;
  text-align: center;
  color: #fff;
}
#wrap #section03 .main-text {
  position: absolute;
  top: 50%;
  left: 10px;
  width: calc(100% - 20px);
  margin-top: -50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#wrap #section03 .main-text img:first-child {
  position: relative;
  margin: 0 20px 25px;
  max-width: 100%;
  z-index: 0;
}
#wrap #section03 .main-text img:last-child {
  position: relative;
  margin: 0 20px;
  max-width: 100%;
  z-index: 1001;
}
#wrap #section03 .baro-btn {
  position: absolute;
  bottom: 50px;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 1000;
  display: flex;
  justify-content: center;
}
#wrap #section03 .baro-btn a {
  font-family: "DM Sans", sans-serif;
  background-color: rgb(51, 51, 51);
  border: 3px solid #fff;
  border-radius: 25px;
  color: #fff;
  width: 130px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.875rem;
  text-align: center;
  font-weight: 700;
}
@media screen and (min-width: 744px) {
  #wrap #section03 .main-text img:first-child {
    margin: 0 20px 35px;
  }
}
@media screen and (min-width: 1024px) {
  #wrap #section03 .text dt {
    font-size: 1.875rem;
  }
  #wrap #section03 .text dd {
    font-size: 1.125rem;
  }
  #wrap #section03 .main-text img:first-child {
    margin: 0 45px 39px;
  }
  #wrap #section03 .baro-btn a {
    width: 167px;
    height: 54px;
    border-radius: 30px;
    font-size: 1.0625rem;
  }
}
@media screen and (min-width: 1440px) {
  #wrap #section03 .main-text img:first-child {
    margin: 0 45px 39px;
  }
}
#wrap #footer {
  position: relative;
  background-color: rgb(51, 51, 51);
  padding: 30px 20px;
  color: #fff;
  font-size: 0.75rem;
  letter-spacing: -1.5%;
  font-weight: 900;
}
#wrap #footer .util {
  display: flex;
  gap: 25px;
  margin-bottom: 42px;
}
#wrap #footer .util a {
  color: #fff;
}
#wrap #footer address {
  color: #9e9e9e;
}
#wrap #footer .footer-copy {
  margin-top: 10px;
  color: #9e9e9e;
}
#wrap #footer .sns-link {
  position: absolute;
  top: 27px;
  right: 20px;
  display: flex;
  gap: 8px;
}
#wrap #footer .footer-logo {
  margin-top: 43px;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  #wrap #footer {
    padding: 68px 45px 35px;
  }
  #wrap #footer .util {
    font-size: 1.0625rem;
  }
  #wrap #footer .footer-copy {
    font-size: 1rem;
  }
  #wrap #footer .sns-link {
    top: 62px;
    right: 45px;
    gap: 15px;
  }
  #wrap #footer a img {
    width: 42px;
  }
  #wrap #footer .footer-logo a img {
    width: 170px;
  }
}
@media screen and (min-width: 1440px) {
  #wrap #footer {
    padding: 68px 45px 35px;
  }
  #wrap #footer .util {
    max-width: 1440px;
    margin: 0 auto 34px;
    font-size: 1.0625rem;
  }
  #wrap #footer address {
    max-width: 1440px;
    margin: 0 auto 35px;
  }
  #wrap #footer .footer-copy {
    max-width: 1440px;
    margin: 0 auto;
    font-size: 1rem;
  }
  #wrap #footer .sns-link {
    max-width: 1440px;
    margin: 0 auto;
    top: 62px;
    right: 45px;
    gap: 15px;
  }
  #wrap #footer a img {
    width: 42px;
  }
  #wrap #footer .footer-logo a img {
    width: 170px;
  }
}

body {
  overflow-x: hidden;
}

.section04 {
  position: relative;
  background-image: url(https://framerusercontent.com/images/w8SWwtp8lqm9fA8RQCcOAs8wTBY.jpg?scale-down-to=1024);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 953px;
  padding: 90px 0 50px;
}
.section04::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  background-image: linear-gradient(to bottom, #333333, rgba(0, 0, 0, 0) 23%);
}
.section04 .page-mid-title {
  position: absolute;
  top: 250px;
  left: 0;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 1.5625rem;
  font-weight: 500;
  z-index: 10;
}
.section04 .number-list {
  position: relative;
  display: flex;
  gap: 15px;
  justify-content: center;
  z-index: 10;
  flex-direction: column;
  padding: 0 65px;
  margin-top: 350px;
}
.section04 .number-list li {
  text-align: center;
}
.section04 .number-list li p {
  font-family: "Manrope", sans-serif;
  text-align: left;
  font-size: 2.875rem;
  font-weight: 700;
  line-height: 1.4;
  color: rgb(248, 80, 91);
}
.section04 .number-list li > span {
  display: block;
  text-align: left;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.4;
  color: #fff;
}

@media screen and (min-width: 744px) {
  .number-list {
    padding: 0 82px;
  }
}
@media screen and (min-width: 1024px) {
  #section04 .page-mid-title .page-mid-title {
    font-size: 2.5rem;
  }
  #section04 .number-list {
    flex-direction: row;
    justify-content: space-between;
  }
  #section04 .number-list li p {
    font-size: 4.375rem;
    text-align: center;
  }
  #section04 .number-list li > span {
    font-size: 1rem;
    text-align: center;
  }
}
@media screen and (min-width: 1440px) {
  #section04 .number-list {
    padding: 0 160px;
    max-width: 1440px;
    margin: 350px auto 0;
  }
}
#main h2 {
  margin: 100px 20px;
}
#main h2 ul {
  margin-bottom: 22px;
}
#main h2 ul li {
  line-height: 34px;
  font-size: 1.75rem;
  font-weight: 900;
}
#main h2 ul li strong {
  color: rgb(248, 80, 91);
}
#main h2 ul > p {
  display: none;
  font-size: 1rem;
  font-weight: 400;
  color: #757575;
  padding-top: 20px;
}
#main h2 .dawnload-box {
  display: flex;
  justify-content: space-between;
}
#main h2 .apple-appstore,
#main h2 .google-play {
  width: 140px;
  height: 45px;
  border-radius: 30px;
  background-color: rgb(51, 51, 51);
}
#main h2 .apple-appstore img,
#main h2 .google-play img {
  width: auto;
  height: 17px;
}
#main h2 .apple-appstore {
  margin-right: 20px;
}
#main h2 .apple-appstore img:first-child {
  width: 20px;
  height: auto;
}
#main h2 .google-play img:first-child {
  width: 20px;
  height: auto;
}
#main .container {
  width: 100%;
}
#main .container .framer {
  height: 690px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#main .container .framer .sub-logo {
  display: block;
  width: 110px;
  height: auto;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-42%);
}
#main .container .framer .css-zgg {
  width: 100%;
}
#main .container .framer .css-zgg .css-nupjy1 {
  position: absolute;
  display: flex;
  overflow: hidden;
  gap: 9px;
  top: 350px;
  left: 50%;
  transform: translate(-49%);
}
#main .container .framer .css-zgg .css-nupjy1 .css-rlmnh1 {
  width: 100px;
  height: 100px;
}
#main .container .framer .css-zgg .col-zi {
  display: block;
  width: 100%;
  height: 100%;
}
#main .container .framer .css-zgg .col-zi .phone-flame {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-53%);
  width: 290px;
  height: auto;
}
#main .main-port h2 {
  margin: 0 20px 50px 20px;
}
#main .main-port .swiper-wrapper {
  display: flex;
  gap: 20px;
  padding: 20px 20px 110px;
  flex-direction: column;
}
#main .main-port .swiper-wrapper .framer {
  display: flex;
  gap: 20px;
  flex-direction: column;
}
#main .main-port .swiper-slide {
  width: 100%;
  height: 120px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
#main .main-port .swiper-slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}
#main .main-port .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center bottom;
     object-position: center bottom;
  position: relative;
  z-index: 0;
}
#main .main-port .swiper-slide img.img01 {
  -o-object-position: 0 100%;
     object-position: 0 100%;
}
#main .main-port .swiper-slide img.img02 {
  -o-object-position: 0 100%;
     object-position: 0 100%;
}
#main .main-port .swiper-slide img.img03 {
  -o-object-position: 0 100%;
     object-position: 0 100%;
}
#main .main-port .swiper-slide img.img04 {
  -o-object-position: 0 100%;
     object-position: 0 100%;
}
#main .main-port .swiper-slide img.img05 {
  -o-object-position: 0 100%;
     object-position: 0 100%;
}
#main .main-port .swiper-slide img.img06 {
  -o-object-position: 0 100%;
     object-position: 0 100%;
}
#main .main-port .swiper-slide .tit-view {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #fff;
  z-index: 2;
  display: block;
}
#main .main-port .swiper-slide .tit-view strong {
  display: flex;
  font-size: 20px;
  font-weight: 700;
  gap: 5px;
}
#main .main-port .swiper-slide .tit-view strong::after {
  content: "\f0a9";
  font-family: "Line Awesome Free";
  font-weight: 700;
  font-size: 25px;
  line-height: 25px;
}
#main .main-port .swiper-slide .tit-view p {
  font-size: 0.8125rem;
  font-weight: 400;
}

@media screen and (min-width: 744px) {
  #main h2 {
    margin: 150px 20px;
  }
  #main h2 ul li {
    line-height: 50px;
    font-size: 2.5rem;
  }
  #main h2 ul > p {
    display: block;
    font-size: 1.0625rem;
  }
  #main h2 .apple-appstore,
  #main h2 .google-play {
    width: 166px;
    height: 53px;
  }
  #main h2 .apple-appstore img,
  #main h2 .google-play img {
    height: 19px;
  }
  #main .container .framer .sub-logo {
    width: 150px;
    top: 36%;
  }
  #main .container .framer .css-zgg .css-nupjy1 {
    top: 430px;
  }
  #main .container .framer .css-zgg .css-nupjy1 .css-rlmnh1 {
    width: 127px;
    height: 127px;
  }
  #main .container .framer .css-zgg .col-zi .phone-flame {
    width: 367px;
  }
  #main .main-port h2 {
    margin: 300px 20px 50px 20px;
  }
  #main .main-port .swiper-wrapper .framer .swiper-slide {
    height: 250px;
  }
  #main .main-port .swiper-wrapper .framer .swiper-slide .tit-view {
    top: 40px;
    left: 40px;
  }
  #main .main-port .swiper-wrapper .framer .swiper-slide .tit-view span {
    color: #fff;
  }
  #main .main-port .swiper-wrapper .framer .swiper-slide .tit-view span strong {
    font-size: 25px;
  }
  #main .main-port .swiper-wrapper .framer .swiper-slide .tit-view span strong::after {
    font-size: 30px;
    line-height: 30px;
  }
  #main .main-port .swiper-wrapper .framer .swiper-slide .tit-view span p {
    font-size: 0.9375rem;
  }
}
@media screen and (min-width: 1024px) {
  #main h2 {
    margin: 150px 45px;
  }
  #main h2 ul li {
    line-height: 60px;
    font-size: 3.125rem;
  }
  #main h2 ul > p {
    display: block;
    font-size: 1.0625rem;
  }
  #main .container .framer {
    height: 800px;
  }
  #main .container .framer .css-zgg .css-nupjy1 {
    top: 500px;
  }
  #main .container .framer .css-zgg .css-nupjy1 .css-rlmnh1 {
    width: 178px;
    height: 178px;
  }
  #main .container .framer .css-zgg .col-zi .phone-flame {
    width: 461px;
  }
  #main .main-port .swiper-wrapper .framer {
    flex-direction: row;
  }
}
@media screen and (min-width: 1440px) {
  #main h2 {
    text-align: center;
  }
  #main h2 ul li {
    line-height: 60px;
    font-size: 3.125rem;
  }
  #main h2 ul li br {
    display: none;
  }
  #main h2 ul > p {
    display: block;
    font-size: 1.25rem;
  }
  #main h2 .apple-appstore {
    margin-right: 40px;
  }
  #main .main-port .swiper-wrapper {
    flex-direction: row;
    padding: 170px 0 350px;
    justify-content: center;
  }
  #main .main-port .swiper-wrapper .framer .swiper-slide {
    position: relative;
    width: 224px;
    height: 322px;
  }
  #main .main-port .swiper-wrapper .framer .swiper-slide img {
    transition: transform 0.3s ease;
  }
  #main .main-port .swiper-wrapper .framer .swiper-slide:hover img {
    transform: scale(1.1);
  }
  #main .main-port .swiper-wrapper .framer .swiper-slide .img01 {
    -o-object-position: 46% 0;
       object-position: 46% 0;
  }
  #main .main-port .swiper-wrapper .framer .swiper-slide .img02 {
    -o-object-position: 82% 0;
       object-position: 82% 0;
  }
  #main .main-port .swiper-wrapper .framer .swiper-slide .img03 {
    -o-object-position: 10% 0;
       object-position: 10% 0;
  }
  #main .main-port .swiper-wrapper .framer .swiper-slide .img04 {
    -o-object-position: 70% 0;
       object-position: 70% 0;
  }
  #main .main-port .swiper-wrapper .framer .swiper-slide .img05 {
    -o-object-position: 73% 0;
       object-position: 73% 0;
  }
  #main .main-port .swiper-wrapper .framer .swiper-slide .img06 {
    -o-object-position: 20% 0;
       object-position: 20% 0;
  }
  #main .main-port .swiper-wrapper .framer .swiper-slide .tit-view {
    left: 13px;
    opacity: 0;
    transform: opacity 0.3s ease-in-out;
  }
  #main .main-port .swiper-wrapper .framer .swiper-slide .tit-view span strong {
    font-size: 1.5rem;
  }
  #main .main-port .swiper-wrapper .framer .swiper-slide .tit-view span strong::after {
    display: none;
  }
  #main .main-port .swiper-wrapper .framer .swiper-slide:hover .tit-view {
    opacity: 1;
  }
  #main .main-port .swiper-wrapper .framer .swiper-slide::before {
    opacity: 0;
  }
  #main .main-port .swiper-wrapper .framer::before:hover .tit-view {
    opacity: 1;
  }
}/*# sourceMappingURL=styles.css.map */